
<div class="container">
    <br/>
    <br/>

    <h3 class="title">Meet the team</h3>

    <div *ngIf="false" class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div *ngIf="false" class="d-flex">
                        <img src="" alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h3>Ashutosh Kumar</h3>
                            <h4>Founder & CEO</h4>
                            <p>Graduated from University of Pune</p>
                            <ul class="list basic_info">
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i>1st December, 2020</a></li>
                                <li><a href="#"><i class="lnr lnr-phone-handset"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-home"></i></a></li>
                            </ul>
                            <ul *ngIf="false" class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="media-container-row">
        <div class="media-container-row-item">
            <div class="card-img ">
                <img class="img-icon" src="assets/images/about-us/nishikanthkota.jpg" alt="Mobirise">
            </div>
            <div class="card-box align-center">
                <h4 class="card-title mbr-fonts-style mbr-semibold display-5">
                    Nishikanth Kota
                </h4>
                <h5 class="user-desc mbr-fonts-style display-4">
                    Information Technology
                </h5>
                <p class="mbr-text mbr-fonts-style display-7">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <div class="social-links">
                    <a href="https://twitter.com/mobirise" target="_blank">
                        <span class="icon-twitter"></span>
                    </a>
                    <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                        <span class="px-2 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://instagram.com/mobirise" target="_blank">
                        <span class="px-2 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <span class="px-2 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                </div>
            </div>
        </div>        
    </div>

</div>